@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: 0.25s;
}

*:hover {
    transition: 0.25s;
}

body {
    background: #000000; /* Just in case! */
}

.starfield {
    background-color: #000000;
    height: 600vh;
    width: 98vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.star {
    width: 1px;
    height: 1px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
}

.wrapper {
    width: 75vw;
    margin: 0 auto;
}

.container {
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.sectionTitle {
    color: #ffffff;
    font-size: x-large;
    font-weight: bold;
}

.sectionText {
    color: rgb(200, 200, 200);
    font-size: large;
}

.sectionLink {
    color: rgb(175, 175, 175);
    font-size: large;
    text-decoration: none;
}

.sectionLink:hover {
    text-decoration: underline;
    color: rgb(225, 225, 225);
}

.embed {
    z-index: 100;
    border-radius: 15px;
}