@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    margin: 0;
    background: #000000;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainSlide {
    height: 100vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slide {
    height: 100vh;
    width: 75vw;
    box-sizing: border-box;
}

.slide p {
    margin: 0;
}

.starfield {
    height: 600vh;
    width: 98vw;
    position: absolute;
    top: 0;
    left: 0;
}

.star {
    width: 1px;
    height: 1px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
}

.wrapper {
    width: 75vw;
    margin: 0 auto;
}

.slideTitle {
    color: #ffffff;
    font-size: x-large;
    font-weight: bold;
}

.slideText {
    color: rgb(200, 200, 200);
    font-size: large;
}

.slideLink {
    color: rgb(175, 175, 175);
    font-size: large;
    text-decoration: none;
    transition: 0.2s;
}

.slideLink:hover {
    text-decoration: underline;
    color: rgb(225, 225, 225);
    transition: 0.1s;
}